body {
  background-color: black;
}
 .calculator-button {
  font-family:  Arial;
  font-size: 26px;
  background-color: rgb(51,51,51);
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

 .orange-button {
   background-color: orange;
 }

 .clear-button {
  font-size: 17px;
 }

 .calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
 }

 